PRIVATE_KEY=your-private-key
RPC_PROVIDER_URL=https://base-mainnet.g.alchemy.com/v2/
RPC_API_KEY=your-alchemy-api-key
VIRTUALS_API_URL=https://api.virtuals.io
VIRTUALS_API_URL_V2=https://vp-api.virtuals.io
SOLANA_PRIVATE_KEY=your-solana-private-key
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_JUPITER_API_KEY=your-jupiter-api-key